body{
    background-color: rgb(44, 43, 43);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
#t1{
    color: rgb(14, 235, 198);
}

#t2{
    color: blueviolet;
}

#t3{
    color: crimson;
}

a{
    color:greenyellow;
}